main {
    margin-left: 5rem;
    padding: 1rem;
}

.arrow.left {
    transform: rotate(180deg);
}

.arrow.right {
    transform: rotate(0deg);
}

.arrow.up {
    transform: rotate(270deg);
}

.arrow.down {
    transform: rotate(90deg);
}

.arrow {
    vertical-align: center;
    cursor: pointer;
    height: 120px;
    left: 50%;
    position: absolute;
    top: 50%;
    transition: transform 0.1s;
    width: 80px;
}

.arrow-top, .arrow-bottom {
    background-color: #666;
    height: 4px;
    left: -5px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.arrow-top:after, .arrow-bottom:after {
    background-color: white;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 1s;
}
.arrow-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
}

.arrow-top:after {
    right: 100%;
    left: 0;
    transition-delay: 0s;
}

.arrow-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
}

.arrow-bottom:after {
    left: 0;
    right: 100%;
    transition-delay: 0s;
}
.travel-nav:hover .arrow-top:after,
.travel-nav:hover .arrow-bottom:after {
    right: 0;
    transition-delay: 0s;
}

.travel-nav {
    width: 50px;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-80%);
    transition: 0.5s ease-in-out;
}

.travel-text {
    color: white;
}

.travel-nav:hover > .travel-text {
    animation: fadeIn 1s ease-in-out;
}

.travel-nav:hover {
    transform: translateX(0);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        pointer-events: none;
    }
    100% {
        opacity: 100;
        pointer-events: all;
    }
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(+20px);
    }
    100% {
        transform: translatey(0px);
    }
}

.content {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    z-index: 0;
}

.mute-button {
    border: none;
    height: 20px;
    background-color: rgba(134, 134, 134, 0.8);
    border-radius: 100%;
    padding: 15px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    animation: fadeIn 6s
}

.mute-button:active {
    background-color: rgba(134, 134, 134, 0.5);
}

#description {
    text-align: center;
    color: white;
    letter-spacing: 10px;
    font-family: 'Press Start 2P', cursive;
    animation: float 6s ease-in-out infinite, fadeIn 60s;

}

i {
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
    letter-spacing: 10px;
    font-family: 'Press Start 2P', cursive;
    animation: fadeIn 30s;
}

h2 {
    text-align: center;
    color: grey;
    font-family: 'IBM Plex Mono', monospace;
}