/*region nav*/
nav {
    display: flex;
    position: absolute;

    visibility: hidden;

    z-index: 1;
}

#left-nav, #right-nav {
    width: 200px;

    flex-direction: row;
    align-items: center;

    top: 0;
    bottom: 0;
}

#left-nav {
    left: 0;
}

#right-nav {
    right: 0;
}

#top-nav, #bot-nav {
    height: 120px;

    flex-direction: column;
    align-items: center;

    left: 0;
    right: 0;
}

#top-nav {
    top: 0;
}

#bot-nav {
    bottom: 0;
}
/*endregion*/

/*region travel-container & travel-text*/
.travel-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    width: 200px;
    height: 200px;

    cursor: pointer;
}

.travel-text {
    position: absolute;
    vertical-align: middle;

    font-family: var(--primary-font-family);
    font-size: 20px;
    text-align: center;

    color: var(--primary-text-color);
    opacity: 0;
    width: 100px;

    filter: blur(5px);
    transition: all 0.5s;
}

nav:hover .travel-text {
    opacity: 1;
    filter: blur(2px);
    transition: all 2s;
}

.travel-container:hover .travel-text {
    filter: blur(1px);
}

#left-nav .travel-text {
    left: -30%;
}

#left-nav:hover .travel-text {
    left: 10%;
}

#right-nav .travel-text {
    right: -30%;
}

#right-nav:hover .travel-text {
    right: 10%;
}

#bot-nav .travel-text {
    bottom: 80%;
}

#bot-nav:hover .travel-text {
    bottom: 50%;
}

#top-nav .travel-text {
    top: 0;
}

#top-nav:hover .travel-text {
    top: 40%;
}
/*endregion*/

/*region arrow*/
.arrow {
    position: absolute;

    --rotate: 0;
    transform: rotate(var(--rotate));
}

#right-nav .arrow {
    --rotate: 0;
    right: 10%;

    transition: right 1s ease;
}

#right-nav:hover .arrow {
    right: 50%;
}

#left-nav .arrow {
    --rotate: 180deg;
    left: 10%;

    transition: left 1s ease;
}

#left-nav:hover .arrow {
    left: 50%;
}

#top-nav .arrow {
    --rotate: -90deg;
    top: 0;

    transition: top 1s ease;
}

#top-nav:hover .arrow {
    top: 30%;
}

#bot-nav .arrow {
    --rotate: 90deg;
    bottom: 0;

    transition: bottom 1s ease;
}

#bot-nav:hover .arrow {
    bottom: -30%;
}

.line1, .line2 {
    --angle: 0;
    --translate: 0;

    --origin: 100% 50%;
    -webkit-transform-origin: var(--origin);
    transform-origin: var(--origin);

    --filter: blur(3px);
    -ms-filter: var(--filter);
    -webkit-filter: var(--filter);
    filter: var(--filter);

    --transition: transform 0.5s ease, filter 2s;
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    -webkit-transition: var(--transition);
    transition: var(--transition);
}

.line1 {
    transform: rotate(calc(var(--angle) * -1)) translateY(calc(var(--translate) * -1));
}

.line2 {
    transform: rotate(var(--angle)) translateY(var(--translate));
}

nav:hover .line1, nav:hover .line2 {
    --angle: 45deg;
    --translate: 50%;
    --filter: 1px;
}
/*endregion*/